In [1]:
import yaml
import fynesse as best_package

/usr/lib/python3/dist-packages/requests/__init__.py:89: RequestsDependencyWarning: urllib3 (1.26.12) or chardet (3.0.4) doesn't match a supported version!
  warnings.warn("urllib3 ({}) or chardet ({}) doesn't match a supported "

In [2]:
url_cam_given_account = "database-mm2503-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com"
database_details = {"url": url_cam_given_account, 
                    "port": 3306}
with open("credentials.yaml") as file:
  credentials = yaml.safe_load(file)
username = credentials["username"]
password = credentials["password"]
url = database_details["url"]

In [5]:
import pymysql
%load_ext sql

In [8]:
%sql mariadb+pymysql://$username:$password@$url?local_infile=1

In [18]:
%sql DROP DATABASE household_prices;

 * mariadb+pymysql://admin:***@database-mm2503-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
(pymysql.err.OperationalError) (1008, "Can't drop database 'household_prices'; database doesn't exist")
[SQL: DROP DATABASE household_prices;]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [10]:
%sql DROP DATABASE property_prices

 * mariadb+pymysql://admin:***@database-mm2503-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
3 rows affected.

[]

In [15]:
%%sql
SET SQL_MODE = "NO_AUTO_VALUE_ON_ZERO";
SET time_zone = "+00:00";

CREATE DATABASE IF NOT EXISTS `property_prices` DEFAULT CHARACTER SET utf8 COLLATE utf8_bin;

 * mariadb+pymysql://admin:***@database-mm2503-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
0 rows affected.
0 rows affected.
0 rows affected.

[]

In [17]:
%sql SHOW DATABASES

 * mariadb+pymysql://admin:***@database-mm2503-v2.cgrre17yxw11.eu-west-2.rds.amazonaws.com?local_infile=1
6 rows affected.

[('information_schema',),
 ('innodb',),
 ('mysql',),
 ('performance_schema',),
 ('property_prices',),
 ('sys',)]